<!-- Toolbar -->
<header class="weather-toolbar">
  <h1>Weather App</h1>
  <nav>
    <span *ngIf="!userEmail">
      <button mat-button routerLink="/login" class="nav-btn">Login</button>
      <button mat-button routerLink="/register" class="nav-btn">Register</button>
    </span>
    <span *ngIf="userEmail">
      {{ userEmail }}
      <button *ngIf="accessLevel === 3" mat-button routerLink="/admin" class="nav-btn">Admin</button>
      <button mat-button (click)="onLogout()" class="nav-btn">Logout</button>
    </span>
  </nav>
</header>


  <router-outlet></router-outlet>
